<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Projects Page</title>
</head>
<body>
{{> header}}
<p>This is a projects page for all the projects in {{getCurrentYear}}</p>


{{> footer}}

</body>

</html>